.body-tekst{
    margin-top: 50px;
    text-align: center;
}

.button{
    text-align: center;
    margin-top: 10px;
}

button{
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    width: 150px;
    height: 40px;
    background-color: white;
    color: green;
    border-radius: 10px;
}